<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	


<body>
 
<div class="container">
		
  <!-- If 'data' contains records populate page -->
  <% if (data.length > 0) { %>
  <div class="card-deck mb-3 text-center">
  
	<% var cellCounter = 0 %>
	<% cellCounter = cellCounter + 1 %>
	
	<% data.forEach(function(product){ %>
  
	  
  <% if (cellCounter === 0) { %>
  <!-- Starts the page and creates a new row -->
  <div class="card-deck mb-3 text-center"> <!-- Begin -->
  <% } %>  
   
	
	<!-- -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
			<%=product.Name%> - <%= cellCounter %></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$5.00 </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><h5>Description:</h5> <p><%=product.Description%></p></li>
		  <li><img src="./images/broccoli.png" height=100 width=75></li>
        </ul>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'product.html';">Details</button>
        <button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="window.location.href = 'addtocart.html';">Add to cart</button>
      </div>
    </div>
	<!-- --> 
  <% if (cellCounter === 3) { %>
    </div> <!-- Closes out row container -->
    <!-- Creates a new row --> 
    <div class="mb-2 card"> </div> 
    <!--Second Row-->
    <% cellCounter = 0 %>
  <% } %>
  
  <% for (var i = 0; i <= 3; i++) { %>
  <% } %> 
  	<% }) %>
  <% } %> 
  
</div> <!-- Closes out main container -->
  
</body>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
