<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	

  
<body>

	 <% data.forEach(function(product){ %>
		<% var prodId = product.idProduct %>
	<form action="product/update" id="update" name="frmupdate">
  <div class="offers container">
    <div class="row">
	  <div class="col-lg-4 py-3">
		<ul class="list-unstyled mt-3 mb-4 text-center">
		  <li><img src="./images/cucumber.jpg" height=200 width=275></li>
        </ul>
	  </div>
	  <div class="col-lg-8 py-3 row">
	    <div class="col-sm-8">
	      <h2><input type="text" name="prodName" id="prodName">
		  <%=product.Name%></h2>
		</div>
		<div class="col-sm-4">
		  <input type="text" id="desc" name="desc">
		  <h4>$ <%=product.Price.toFixed(2) %></h4>
		</div>
		<div class="col-md-12 py-3">
		  <input type="text" id="desc" name="desc">
		  <%=product.ShortDescription%>
		</div>
		<div class="col-md-12 py-3">
		  <input type="text" id="desc" name="desc">
		  <%=product.Description%>
		<div class="col-md-12 py-3">
			<select id="rectoshow" name="rectoshow">
				<option value="5">5</option>
				<option value="10" selected>10</option>
				<option value="15">15</option>
				<option value="All">All</option>
			</select>
		  <%=product.Description%>
		</div>
	  </div>
	  <div class="col-lg-4 py-3 row">
		<button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="history.go(-1);">Back to Results</button>
		<button type="button" class="btn btn-sm btn-block btn-primary"
			type="submit"onclick="window.location.href = 'shop-cart.html';">Add to Cart</button>
	  </div>
	</div>
  </div>
  </form>
  
  	<% }) %>

  
</body>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
