  </div>
  <div class="offers container">
    <div class="row">
      <div class="col-md-8 py-4">
	    <h4>Food</h4>
	    <p>Considerable amount of food, available fast.</p>
      </div>
	  <div class="col-md-4 py-4">
	    <h5>$5.00</h5>
	  </div>
	</div>
    <div class="row">
      <div class="col-md-8 py-4">
	    <h4>Also Food</h4>
	    <p>Some amount of food, available fast.</p>
      </div>
	  <div class="col-md-4 py-4">
	    <h5>$4.00</h5>
	  </div>
	</div>
  </div>