body {
  text-align: center;
  padding-bottom: 20px;
}
div.nav {
  background-color: #008ECC;
}
div.container {
  background-color: #3FE0D0;
}
div.credentials {
  background-color: #008ECC;
}

// Navigation bar
.navbar {
  margin-bottom: 20px;
}

// Products 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
