<!DOCTYPE html>
<html>
<head>
  <title>Food Coop - <%= title %></title>
  <meta charset="utf-8"/>
  
  <link rel="stylesheet" type="text/css" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
   <!--style>
    div {
	  border:  1px black solid;
	  }
  </style-->
</head>
<body>
  <div class="header container navbar-expand-lg navbar-primary bg-light shadow-sm mb-2">
    <h1><center>Food Co-op Project</center></h1>
  </div>
<!--Top Navigational Menu -->  
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-2">
  <div class="container">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
	  
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
		
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/sellers">Sellers</a>
        </li>
		
        <li class="nav-item">
          <a class="nav-link" href="/products/add">Products</a>
        </li>
		
		<!-- 
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="/products" id="dropdown07" 
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Products</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" href="/products/">Show</a>
            <a class="dropdown-item" href="/products/add">Add</a>
            <a class="dropdown-item" href="/products/edit">Update</a>
          </div>  "${sessionScope.user}" 
		</li> -->
		
        <li class="nav-item">
          <!-- <a class="nav-link" onclick="showSignin();">Sign-In</a> -->
         <a class="nav-link" href="/signin">Sign-In</a>
        </li> 
        <li class="nav-item">
		  <%var user = user %>
          <%console.log("user: " + user)%>
		  <%if (user === "") { %>
         <a class="nav-link" href="">Hello</a>
		  <%} else { %>
         <a class="nav-link" href=""><b>Hello <%=user%></b></a>
		  <%} %>
        </li> 
		
      </ul> 
		  <form class="form-inline my-2 my-md-0" action="/cart">
            <button class="btn btn-outline-success my-1 my-sm-1 bg-dark" 
			type="submit" >
			View Cart</button> 
			<!-- onclick="window.location.href = '/cart';" -->
		  </form>
    </div>
  </div>
</nav>
 
<!--Category Navigational Menu -->  
<nav class="navbar navbar-expand-lg navbar-light mb-2 bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">Categories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?vegetables">Vegetables</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?fruits">Fruits</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?grains">Grains</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?dairy">Dairy</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?meats">Meats</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?snacks">Snacks</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?condiments">Condiments</a>
        </li>
        <li class="nav-item disabled">
          <a class="nav-link disabled" href="/search?desserts">Desserts</a>
        </li>
		
      <!-- Other options for this navigation bar 
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
	  
	    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
		-->
      </ul> 
      <form class="form-inline my-2 my-md-0" 
			id="mysearch1" action="/search?" method="POST">
        <input class="form-control" type="text" placeholder="Product"
			aria-label="Search" id="searchtext" name="qtext">
        <button class="btn btn-outline-success my-1 my-sm-1 bg-dark" 
			type="submit">Search</button>
      </form> 
	  <!--  
	  <form class="form-inline my-2 my-md-0" 
			action="/search" method="GET" id="mysearch1"
			onsubmit="return (this['input#searchtext'].value;" >
	   name="search"
			action="/index/?searchtext=" method="POST"
			type="submit" name="submit" onclick="onSubmit();">Search</button>
	  -->
    </div>
  </div>
</nav>

<script>
/*
 $(document).ready(function(){
          $('#mysearch1a').on('submit', function(evt){
		  var root = document.getElementById("searchtext").innerHTML;
		  console.log(root);
            evt.preventDefault();
            var action = $(this).attr('action');
            var $container = $(this).closest('.formContainer');
            $.ajax({
              url:  'search',
              type:  'POST',
              data:  $(this).serialize(),
              success:  function(data) {
                if (data.success) {
                } else {
                  console.log("Problem encountered" + data);
                }
              },
              error: function() {
                alert('An error has occurred.');
				//console.log(data);
              }
            });
          });
        }); 
*/

function showSignin() {
	var url = "signin";
	var winName = "newWindow";
	var winAttr = "width=500,height=600";
	var myWindow = window.open(url,winName,winAttr);
}

</script>

