<div class="offers container">
    <div class="row">
	  <div class="col-lg-4 py-3">
		<ul class="list-unstyled mt-3 mb-4 text-center">
		  <li><img src="./images/cucumber.jpg" height=200 width=275></li>
        </ul>
	  </div>
	  <div class="col-lg-8 py-3 row">
	    <div class="col-sm-8">
	      <h2>Also food</h2>
		</div>
		<div class="col-sm-4">
		  <h4>$4.00</h4>
		</div>
		<div class="col-md-12 py-3">
		  <p>This is a food item.  Please look at how delicious it is.  
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
		  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
		  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
		  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
		  deserunt mollit anim id est laborum.</p>
		</div>
	  </div>
	  <div class="col-lg-4 py-3 row">
		<button type="button" class="btn btn-sm btn-block btn-primary"
		  onclick="history.go(-1);">Back to Results</button>
		<button type="button" class="btn btn-sm btn-block btn-primary"
			type="submit"onclick="window.location.href = 'shop-cart.html';">Add to Cart</button>
	  </div>
	</div>
  </div>