<!--
including header content which is common for all pages
-->
<%- include ./layouts/header.ejs %>	

<body>


<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <p>
        Hello, I am Jim and these are my team members: Tim, Lee, Kenny, and Bill. We are an enthusiastic group of studens who are offering everyone the greatest way to provide fresh and quality foods to satisfy the tastes and healthy standards sought by the various cultures of the world. Everyone needs to eat, right? We all have different tastes, but we all want access to quality foods that we can use for our meals and in our favorite recipes. Farm-Fresh offers a combination of access to a Food Co-op and a Local Farmers Market that will deliver healthy, native grown produce to your own door.
      </p>

      <p>
      	We have carefully selected vendors that can make this all possible for you! We depend on our vendors to supply you with your produce, and we depend on your feedback to assist us in continuing to maintain the high standard of quality produce and delivery that keeps you, our most valued customer, healthy and happy.
      </p>
    </div>
  </div>
</div>

</body>

<!--
including footer content which is common for all pages
-->
<%- include ./layouts/footer.ejs %>
